---
---
@import url(bootstrap.min.css);

img{
    max-width: 100%;
}

.wrapper{
    padding-top: .5em;
}

.card{
    margin: 0 .5em;
    height: 100%;
}
.row{
    margin-bottom: 1em;
}

#intro { text-align: center;
}

#footer { text-align: center;
}

.header { color: 00000;
}
